@media (max-width: 1280px) {
    body {
        flex-direction: column;
        padding: 20px 10px;
        align-items: center;
        gap: 20px;
    }
    .lateral-info {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .items-nav {
        flex-direction: row;
    }
    .user figure img {
        width: 70px;
    }
    .all-info {
        width: 90%;
    }
    .user {
        align-items: center;
    }
}

@media (max-width: 1024px) {
    .lista-nav {
        display: none;
    }
    .mobile_menu {
        display: none;
    }
    .mobile-menu div {
        width: 32px;
        height: 2px;
        background-color: #fff;
        margin: 5px 0;
        border: solid 1px #fff;
    }
}

@media (max-width: 768px) {
    .saude-usuario {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .item-info {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95%;
    }
    .controle-dispo {
        flex-direction: column;
        width: 95%;
    }
}

@media (max-width: 640px) {
    .saude-usuario {
        display: flex;
        flex-direction: row;
    }
    .btn {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 425px) {
    body {
        align-items: center;
    }
    .user {
        gap: 5px;
    }
    .user figure img{
        width: 50px;
    }
    .logo-projeto img{
        width: 150px;
    }
    .mobile-menu {
        width: 50px;
    }
    .saude-usuario {
        width: 95%;
    }
}
