/*IMPORTAÇÃO DAS FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background-color: #025159;
    display: flex;
    justify-content: center;

}
/*ÁREA CONTENT*/
.content{
    padding: 20px 20px;
    display: flex;
    gap: 20px;
}
/*ÁREA CONTENT FIM*/

/*ÁREA DO HEADER*/
/*MENU*/
.menu {
    display: flex;
    padding: 0 10px;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    width: 20%;
}
/*MENU FIM*/

/*NAV-USER*/
.nav-user {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
/*NAV-USER FIM*/

/*LOGO PROJETO*/
.logo-projeto img {
    width: 200px;
}
/*LOGO PROJETO FIM*/

/*NAVEGAÇÃO DO USUÁRIO*/
.lista-nav {
    text-align: center;
}
.items-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.items-nav a{
    text-decoration: none;
    font-weight: 500;
    color: rgba(160, 160, 160, 1);
}
.items-nav a:hover {
    color: #fff;
    transition: 0.3s;
    font-weight: bolder;
    padding: 10px;
    background-color: rgba(160, 160, 160, 0.5);
    border-radius: 25px;
}
/*NAVEGAÇÃO DO USUÁRIO FIM*/

/*PERFIL USUÁRIO*/
.user {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}
.user h3 {
    color: #fff;
    font-weight: bolder;
}
.user img {
    width: 100px;
    border-radius: 100%;
    border: solid 3px #03989e;
}
/*PERFIL USUÁRIO FIM*/

/*ÁREA DO MAIN*/

/*TODAS AS CAIXAS*/
.box-sections {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 15px;
    padding: 20px;
    width: 75%;
}
/*TODAS AS CAIXAS FIM*/

/*CONFIG DA CAIXA*/
.section-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 40px;
    border-bottom: solid 1px #025159;
}
/*CONFIG DA CAIXA FIM*/

/*CONFIG DO TITULO DAS SESSÕES*/
.topbar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #025159;
    border-radius: 15px;
    padding: 10px;
}
/*CONFIG DO TITULO DAS SESSÕES FIM*/

/*CONFIG DA FONTE DO TÍTULO e SUBTITULO*/
.title {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bolder;
    color: #ffffff;
    font-size: 25px;
}
.subtitle {
    color: #ffffff;
}
/*CONFIG DA FONTE DO TÍTULO FIM*/

/*CONFIG DA SESSÃO 1*/

/*CONFIG CAIXA FULL*/
.box-article {
    display: flex;
    justify-content: space-between;
}
/*CONFIG CAIXA FULL FIM*/


/*CONFIG CAIXA DE DADOS*/
.item-info {
    background-color: #048C8C;
    width: 20%;
    padding: 20px;
    border-radius: 15px;
    justify-content: flex-start;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: "Montserrat Alternates", sans-serif;
    transition: background-color 0.3s;
}
/*CONFIG CAIXA DE DADOS FIM*/

/*CONFIG LEGENDA*/
.legenda-item {
    color: #04BFBF;
    padding: 5px 15px;
    background-color: #025159;
    border-radius: 15px;
    border: solid 2px #fff;
    transition: background-color 0.3s;
}
/*CONFIG LEGENDA FIM*/

/*CONFIG DOS GRÁFICOS*/
.imagem-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.imagem-item img {
    width: 100px;
}
/*CONFIG DOS GRÁFICOS FIM*/

/*CONFIG BOTAO SINCRONIZAR*/
.btn-att {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #025159;
    border: none;
    border-radius: 20px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-att:hover {
    background-color: #03989e;
}
/*CONFIG BOTAO SINCRONIZAR FIM*/
/*CONFIG DA SESSÃO 1 FIM*/

/*CONFIG SESSÃO 2*/

/*CONFIG DA SESSÃO 3*/

/*CONFIG DA SESSÃO FULL*/
.controle {
    display: flex;
    gap: 30px;
}
/*CONFIG DA SESSÃO 2 FULL FIM*/

/*CONFIG DAS CAIXAS SESSÃO 2/3*/
.adicionar , .registro{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: solid 2px #025159;
    padding: 15px;
    border-radius: 15px;
}

.title-controle {
    font-size: 24px;
    font-weight: bolder;
    color: #025159;
    text-align: center;
    margin-bottom: 20px;
}

/*CONFIG DAS CAIXAS SESSÃO 2 FIM*/

/*CONFIG DAS CAIXAS ESPECÍFICAS SESSÃO CADASTRO 2*/
.add-dispositivo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.add-dispositivo label {
    font-size: 14px;
    font-weight: bold;
    color: #025159;
}

.add-dispositivo input[type="text"], .add-dispositivo select, textarea {
    color: #025159;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #025159;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.add-dispositivo input[type="text"]:hover, .add-dispositivo select:hover, textarea:hover {
    border-color: #04BFBF;
}

.add-dispositivo .btn {
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #025159;
    border: none;
    border-radius: 4px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.add-dispositivo .btn:hover {
    background-color: #04BFBF;
    color: #025159;
    transform: scale(1.05);
}
/*CONFIG DAS CAIXAS ESPECÍFICAS SESSÃO 2 CADASTRO FIM*/

/*CONFIG DAS CAIXAS ESPECÍFICAS SESSÃO REGISTRO2/3*/
.registro {
    gap: 85px;
}

.item-dispo {
    border: 1px solid #025159;
    border-radius: 6px;
    padding: 15px 16px;
    margin-bottom: 12px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #025159;
    font-weight: bold;
}

.btn-small {
    width: 100px;
    font-size: 12px;
    padding: 6px 12px;
    color: #fff;
    background-color: #025159;
    border-radius: 10px;
    border: none;
    margin: 1px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-small:hover {
    background-color: #04BFBF;
    color: #025159;
    transform: scale(1.1);
}

.btn-danger {
    background-color: #d9534f;
}

.btn-danger:hover {
    background-color: #c9302c;
    color: #fff;
}
/*FIM DA 2°/3° SESSÃO*/

/*INÍCIO DA ÚLTIMA SESSÃO*/
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 15px;
}

form label {
    font-size: 14px;
    font-weight: bold;
    color: #025159;
    margin-bottom: 6px;
}

form input[type="text"], form select {
    font-size: 14px;
    padding: 10px;
    border: 1px solid #025159;
    border-radius: 4px;
    transition: border-color 0.3s;
}

form input[type="text"]:hover, form select:hover {
    border-color: #04BFBF;
}

.btn-att {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #025159;
    border: none;
    border-radius: 4px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-att:hover {
    background-color: #03989e;
}
/*ULTIMA SESSÃO FIM*/


/*CONFIG DA SESSÃO 2 FIM*/



